@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap");
body {
	margin: 0;
}
p {
	font-family: roboto, arial;
	margin-top: 0;
	margin-bottom: 0;
}

.header {
	display:flex;
	flex-direction: row;
	height: 55px;
	justify-content: space-between;
}
.left-sec{

display: flex;

align-items: center;

}
.hamburger{
width: 25px;
margin-left: 20px;
cursor: pointer;

}
.logo{
	margin-left: 20px;
	width: 88px;
	cursor: pointer;
}
.mid-sec{
	display: flex;
	align-items: center;
	flex: 1;
	margin-left: 70px;
	margin-right: 35px;
	max-width: 500px;
	
}
.search-bar{
	flex: 1;
height: 34px;
border-width: 1px;
border-top-left-radius: 2px;
	border-bottom-left-radius: 2px ;
border-style: solid;
border-color: #cccccc;
box-shadow: inset 0px 1px 2px #eeeeee;
width: 0;

}
.search-bar::placeholder{
	padding-left: 10px;
	font-family: roboto,arial;
	font-size: 16px;
	color: rgb(175, 163, 163);
}
.search-button{
	cursor: pointer;
	height: 37px;
	width: 60px;
	margin-left: -1px;
	border-color:#cccccc;
	border-width: 1px;
	border-style: solid;
	background-color: #f7f7f7;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px ;
}
.v-search-button{
	width: 40px;
	height: 39px;
	border-radius: 100px;
	border: none;
	margin-left: 5px;
	background-color: #f7f7f7;
	cursor: pointer;
}
.imgs{
	margin-top: 3px;
width: 25px;
}
.imgv{
	margin-top: 3px;
width: 25px;
}
.right-sec{
	display: flex;
	flex-shrink: 0;
	width: 200px;

	align-items: center;
	justify-content: space-between;

}
.upload{
	width: 24px;
}
.apps{
	width: 24px;
}
.noti{
	width: 24px;
}
.dp{
	margin-right: 20px;
	border-radius: 100px;
	width: 36px;
}

.thumbnail-img {
	width: 100%;
}

.container {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	column-gap: 16px;
	row-gap: 40px;
}

.bottom-right {
	padding-left: 13px;
}
.profile-pic {
	width: 100%;
	border-radius: 100px;
}
.title {
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
}
.author {
	font-size: 12px;
	color: #606060;
	margin-top: 10px;
}
.views {
	margin-top: 5px;
	font-size: 12px;
	color: #606060;
}
.bottom-row {
	display: grid;
	grid-template-columns: 40px 1fr;
}
