@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap");
body {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	font-family: roboto, arial;
	margin-top: 0;
	margin-bottom: 0;
}

.header {
	margin-bottom: 100px;
	background-color: lightblue;
}
.thumbnail-img {
	width: 100%;
}

.container {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	column-gap: 16px;
	row-gap: 40px;
}

.bottom-right {
	padding-left: 13px;
}
.profile-pic {
	width: 100%;
	border-radius: 100px;
}
.title {
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
}
.author {
	font-size: 12px;
	color: #606060;
	margin-top: 10px;
}
.views {
	margin-top: 5px;
	font-size: 12px;
	color: #606060;
}
.bottom-row {
	display: grid;
	grid-template-columns: 40px 1fr;
}
